.colorTable {
  overflow-x: scroll;
  margin-bottom: 1.82rem;
  /* move bottom margin to the div container so it doesn't move the scrollbar */
  /* 1.82rem is the current theme's rhythm, probably should import it somehow */
}

.colorTable table {
  margin-bottom: 0;
}

.colorTable td,
.colorTable th {
  border: 1px solid var(--rule-color);
}

.colorTable .gray {
  background-color: #efeeee;
}

.colorTable .green {
  background-color: #80d4bb;
}

.colorTable .orange {
  background-color: #fed18c;
}

.colorTable .purple {
  background-color: #efbfe4;
}

/* probably should make these theme color variables so we don't have to manually adjust for dark mode, if I end up using them in more posts */
body:global(.dark) .colorTable .gray {
  background-color: #272d35;
}

body:global(.dark) .colorTable .green {
  background-color: #2b483f;
}

body:global(.dark) .colorTable .orange {
  background-color: #4c3e2a;
}

body:global(.dark) .colorTable .purple {
  background-color: #402a3b;
}
