.siteTitle {
  display: flex;
  padding: 1.5em;
  justify-content: center;
  position: relative;
  overflow: hidden; /* prevent scrollbars from the oversized Gooey svgs */
  z-index: 1; /* just for stacking context */
}

.siteTitleLink {
  display: block;
  flex: 0 0 auto;
  padding: 1em;
  font-size: 24px;
  color: var(--body-color);
  text-decoration: none;
}

.firstName,
.lastName {
  position: relative;
  display: inline-block;
  line-height: 0;
  padding-left: 0.8em;
  padding-right: 0.8em;
  text-transform: lowercase;
}

.firstName::before,
.lastName::before {
  display: block;
  content: "";
  padding-bottom: calc(50% + 0.8em);
}

.firstName::after,
.lastName::after {
  display: block;
  content: "";
  padding-bottom: calc(50% + 0.8em);
}

.text {
  position: relative;
  z-index: 2;
}

.circleBackground {
  opacity: 1;
  transition: 0.2s opacity;
}

/* Fallback opacity animation if browser doesn't support Gooey animation */
.siteTitleLink:hover .circleBackground {
  opacity: 0.8;
}

@media (prefers-reduced-motion: no-preference) {
  @supports (d: path("")) {
    .siteTitleLink:hover .circleBackground {
      opacity: 1;
    }
  }
}

.firstName {
  margin-right: -0.8em;
}

.lastName {
  margin-left: -0.8em;
}

.bio {
  margin: 0 1.5em;
  border-top: 1px solid var(--rule-color);
  padding-top: 1.5em;
  border-bottom: 1px solid var(--rule-color);
  padding-bottom: 1.5em;
  display: flex;
  align-items: center;
  transition: 0.2s border-color;
}

.bioInfoLineLinks {
  text-transform: lowercase;
}

.bioImage {
  border-radius: 64px;
  display: block;
  flex: 0 0 auto;
  margin-right: 1em;
  overflow: hidden;
  z-index: 1; /* hack for safari not respecting overflow:hidden with border radius */
}
