.siteTitle {
  display: flex;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  /* TODO: adjust h1 top margin match before, it used to collapse when this padding was margin */
  justify-content: center;
  position: relative;
  /* TODO: move side padding into this div, so it doesn't cut off on small screen sizes */
  overflow: hidden; /* prevent scrollbars from the oversized Gooey svgs */

  z-index: 1; /* just for stacking context */
}

.siteTitleLink {
  display: block;
  flex: 0 0 auto;
  padding: 1em;
  font-size: 24px;
  color: var(--body-color);
  text-decoration: none;
}

.firstName,
.lastName {
  position: relative;
  display: inline-block;
  line-height: 0;
  padding-left: 0.8em;
  padding-right: 0.8em;
  text-transform: lowercase;
}

.firstName::before,
.lastName::before {
  display: block;
  content: "";
  padding-bottom: calc(50% + 0.8em);
}

.firstName::after,
.lastName::after {
  display: block;
  content: "";
  padding-bottom: calc(50% + 0.8em);
}

.text {
  position: relative;
  z-index: 2;
}

.circleBackground {
  opacity: 1;
  transition: 0.2s opacity;
}

/*
@media (prefers-reduced-motion) {
  .siteTitleLink:hover .circleBackground {
    opacity: 0.8;
  }
}
*/

.firstName {
  margin-right: -0.8em;
}

.lastName {
  margin-left: -0.8em;
}

.bio {
  border-top: 1px solid var(--rule-color);
  padding-top: 1.5em;
  border-bottom: 1px solid var(--rule-color);
  padding-bottom: 1.5em;
  display: flex;
  align-items: center;
  transition: 0.2s border-color;
}

.bioInfoLineLinks {
  text-transform: lowercase;
}

.bioImage {
  border-radius: 64px;
  display: block;
  flex: 0 0 auto;
  margin-right: 1em;
}
